---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

const metadata = {
  title: 'Jaime Villegas - Offered Courses',
};

import cursoChapa from '../../assets/images/courses/chapa.png';
import cursoEstructuras from '../../assets/images/courses/estructuras.png';
import cursoEDM from '../../assets/images/courses/edm.png';
import cursoMatlab from '../../assets/images/courses/matlab.png';
import cursoSuperficies from '../../assets/images/courses/superficies.png';
import cursoPseint from '../../assets/images/courses/pseint.png';

const courses = [
  {
    title: 'Introduction to Programming with PSeInt',
    description: 'Discover the fundamentals of programming with PSeInt, a tool designed for beginners. Learn to develop algorithms and solve problems in a logical and structured way, laying the foundation for your future in the world of programming.',
    image: cursoPseint,
    link: 'https://www.udemy.com/course/programacion-pseint/?referralCode=990BDFA6D7C1347AD6FC'
  },
  {
    title: 'Machine Elements with SOLIDWORKS: Gears',
    description:
      'Master gear design using SolidWorks. This course will guide you through the essential concepts and practical techniques for creating accurate and functional gear models, enhancing your mechanical design and CAD skills.',
    image: cursoEDM,
    link: 'https://www.udemy.com/course/elementos-de-maquinas-con-solidworks-engranajes/?referralCode=E9DFDAB65D067A6AD222'
  },
  {
    title: 'Expert in Surface Modeling with SOLIDWORKS',
    description: 'Become an expert in surface modeling with SOLIDWORKS. Learn to create complex and detailed designs using advanced surface modeling techniques, honing your skills for engineering and industrial design projects.',
    image: cursoSuperficies,
    link: 'https://www.udemy.com/course/experto-en-modelado-de-superficies-con-solidworks/?referralCode=CAE5C627EB9801A09B8F'
  },
  {
    title: 'MATLAB from Scratch',
    description: 'Start your programming journey with MATLAB from scratch. Learn to use this powerful tool to solve mathematical problems, analyze data, and develop algorithms, with no prior experience required.',
    image: cursoMatlab,
    link: 'https://www.udemy.com/course/matlab-desde-cero-practico/?referralCode=E312D377982F89738C36'
  },
  {
    title: 'Sheet Metal Design in SOLIDWORKS',
    description:
      'Learn to design with sheet metal in SOLIDWORKS and take your modeling skills to the next level. This course will teach you how to create accurate and efficient parts, from concept to manufacturing, using specialized SOLIDWORKS tools.',
    image: cursoChapa,
    link: 'https://www.udemy.com/course/diseno-con-chapa-metalica-en-solidworks/?referralCode=EBE7ED729D71DDCCD8AA'
  },
  {
    title: 'Structures with SOLIDWORKS: From Zero to Advanced',
    description: 'Master structural design with SOLIDWORKS, from basic concepts to advanced techniques. Learn to create and analyze complex structures, improving your engineering and structural design skills with this comprehensive course.',
    image: cursoEstructuras,
    link: 'https://www.udemy.com/course/estructuras-con-solidworks/?referralCode=172F393B69540502B581'
  },
];
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/en' },
        { text: 'Projects', href: '/en/projects' },
        { text: 'Courses', href: '/en/courses' },
        { text: 'Blog', href: '/en/blog' },
        { text: 'Github', href: 'https://github.com/jaimevillegas' },
      ]}
      actions={[
        {
          text: 'Get in Touch',
          href: '/en/contact#form',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>
  <h1 class="text-6xl font-bold text-center mt-0">Cursos Ofrecidos</h1>

  <div class="flex flex-col gap-8 mt-8 m-12">
    {
      courses.map((course) => (
        <div class="flex-row md:flex  items-center justify-center md:justify-start md:items-start bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-700 rounded-xl shadow-lg p-5 transition-all duration-300 ease-in-out hover:shadow-xl hover:scale-[1.02] hover:border-orange-500 dark:hover:border-orange-400">
          <div class="md:w-1/3">
            <Image
              src={course.image}
              alt={course.title}
              class:list="w-full h-full object-cover rounded-lg"
              height={600}
              width={600}
              sizes="(max-width: 768px) 100vw, 200px"
            />
          </div>
          <div class="md:w-2/3 md:pl-5 pt-2 md:pt-0">
            <h3 class="text-xl font-bold text-gray-900 dark:text-white">{course.title}</h3>
            <p class="text-gray-500 dark:text-gray-400 mt-2">{course.description}</p>
            <a
              href={course.link}
              target="_blank"
              class="text-orange-500 hover:text-orange-600 dark:hover:text-orange-400 flex items-center gap-1 text-xl mt-4 font-medium transition-colors"
              onclick="event.stopPropagation()"
            >
              <Icon name="tabler:eye" class="w-4 h-4 text-xl" />
              See Course
            </a>
          </div>
        </div>
      ))
    }
  </div>

  <CallToAction
    title="Ready to start your next course?"
    subtitle="Let's talk about how we can work together to make it happen!"
    actions={[
      {
        text: 'Get in Touch',
    href: '/en/contact#form',
      },
    ]}
  />
</Layout>
