---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

const metadata = {
  title: 'Jaime Villegas - Offered Courses',
};

import cursoChapa from '../assets/images/courses/chapa.png';
import cursoEstructuras from '../assets/images/courses/estructuras.png';
import cursoEDM from '../assets/images/courses/edm.png';
import cursoMatlab from '../assets/images/courses/matlab.png';
import cursoSuperficies from '../assets/images/courses/superficies.png';
import cursoPseint from '../assets/images/courses/pseint.png';

const courses = [
  {
    title: 'Introducción a la Programación con PSeInt',
    description: 'Descubre los fundamentos de la programación con PSeInt, una herramienta diseñada para principiantes. Aprende a desarrollar algoritmos y resolver problemas de manera lógica y estructurada, sentando las bases para tu futuro en el mundo de la programación.',
    image: cursoPseint,
    link: 'https://www.udemy.com/course/programacion-pseint/?referralCode=990BDFA6D7C1347AD6FC'
  },
  {
    title: 'Elementos de Máquinas con SOLIDWORKS: Engranajes',
    description:
      'Domina el diseño de engranajes utilizando SolidWorks. Este curso te guiará a través de los conceptos esenciales y las técnicas prácticas para crear modelos precisos y funcionales de engranajes, mejorando tus habilidades en diseño mecánico y CAD.',
    image: cursoEDM,
    link: 'https://www.udemy.com/course/elementos-de-maquinas-con-solidworks-engranajes/?referralCode=E9DFDAB65D067A6AD222'
  },
  {
    title: 'Experto en Modelado de Superficies con SOLIDWORKS',
    description: 'Conviértete en un experto en modelado de superficies con SOLIDWORKS. Aprende a crear diseños complejos y detallados utilizando técnicas avanzadas de modelado de superficies, perfeccionando tus habilidades para proyectos de ingeniería y diseño industrial.',
    image: cursoSuperficies,
    link: 'https://www.udemy.com/course/experto-en-modelado-de-superficies-con-solidworks/?referralCode=CAE5C627EB9801A09B8F'
  },
  {
    title: 'MATLAB desde Cero',
    description: 'Empieza tu viaje en el mundo de la programación con MATLAB desde cero. Aprende a utilizar esta poderosa herramienta para resolver problemas matemáticos, analizar datos y desarrollar algoritmos, sin necesidad de experiencia previa.',
    image: cursoMatlab,
    link: 'https://www.udemy.com/course/matlab-desde-cero-practico/?referralCode=E312D377982F89738C36'
  },
  {
    title: 'Diseño con Chapa Metálica en SOLIDWORKS',
    description:
      'Aprende a diseñar con chapa metálica en SOLIDWORKS y lleva tus habilidades de modelado al siguiente nivel. Este curso te enseñará a crear piezas precisas y eficientes, desde el concepto hasta la fabricación, utilizando las herramientas especializadas de SOLIDWORKS.',
    image: cursoChapa,
    link: 'https://www.udemy.com/course/diseno-con-chapa-metalica-en-solidworks/?referralCode=EBE7ED729D71DDCCD8AA'
  },
  {
    title: 'Estructuras con SOLIDWORKS: De cero a Avanzado',
    description: 'Domina el diseño de estructuras con SOLIDWORKS, desde los conceptos básicos hasta técnicas avanzadas. Aprende a crear y analizar estructuras complejas, mejorando tus habilidades en ingeniería y diseño estructural con este completo curso.',
    image: cursoEstructuras,
    link: 'https://www.udemy.com/course/estructuras-con-solidworks/?referralCode=172F393B69540502B581'
  },
];
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Inicio', href: '/es' },
        { text: 'Proyectos', href: '/es/projects' },
        { text: 'Cursos', href: '/es/courses' },
        { text: 'Blog', href: '/es/blog' },
        { text: 'Github', href: 'https://github.com/jaimevillegas' },
      ]}
      actions={[
        {
          text: 'Contáctame',
          href: '/es/contact#form',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>
  <h1 class="text-6xl font-bold text-center mt-0">Cursos Ofrecidos</h1>

  <div class="flex flex-col gap-8 mt-8 m-12">
    {
      courses.map((course) => (
        <div class="flex-row md:flex  items-center justify-center md:justify-start md:items-start bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-700 rounded-xl shadow-lg p-5 transition-all duration-300 ease-in-out hover:shadow-xl hover:scale-[1.02] hover:border-orange-500 dark:hover:border-orange-400">
          <div class="md:w-1/3">
            <Image
              src={course.image}
              alt={course.title}
              class:list="w-full h-full object-cover rounded-lg"
              height={600}
              width={600}
              sizes="(max-width: 768px) 100vw, 200px"
            />
          </div>
          <div class="md:w-2/3 md:pl-5 pt-2 md:pt-0">
            <h3 class="text-xl font-bold text-gray-900 dark:text-white">{course.title}</h3>
            <p class="text-gray-500 dark:text-gray-400 mt-2">{course.description}</p>
            <a
              href={course.link}
              target="_blank"
              class="text-orange-500 hover:text-orange-600 dark:hover:text-orange-400 flex items-center gap-1 text-xl mt-4 font-medium transition-colors"
              onclick="event.stopPropagation()"
            >
              <Icon name="tabler:eye" class="w-4 h-4 text-xl" />
              Ver
            </a>
          </div>
        </div>
      ))
    }
  </div>

  <CallToAction
    title="¿Listo para comenzar tu próximo curso?"
    subtitle="¡Hablemos sobre cómo podemos trabajar juntos para hacerlo realidad!"
    actions={[
      {
        text: 'Contáctame',
        href: '/contact#form',
      },
    ]}
  />
</Layout>
